section{
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
    body{
    background-image: url(../img/1616422248_36-p-belii-fon-43.jpg);

    }
    :root {
        --color1: #05b1b1;
        --color2:#52339a;
    }
    .color1 {
        color: var(--color1)
    }
    .color2 {
        color: var(--color2)
    }
.author{
    padding-bottom: 0;
}
.itd_img{
    max-width: 400px;
}