section{
padding-top: 70px;
padding-bottom: 100px;
}
body{
    background-image: url(../img/Без\ названия.jpg);
 
    }
.carousel-control-prev-icon
{
    background-image: url(../img/angle-left.svg);
}
.carousel-control-next-icon
{
    background-image: url(../img/angle-right.svg);
}
.carousel-control-next-next, .carousel-control-prev-prev{
    width: 50px;
}
.carousel-control-prev{
    left: -120px;
}
.carousel-control-next{
    right: -120px;
}
