section {
    padding-top: 100px;
    padding-bottom: 100px;
}

body {
    background-image: url(../img/фон.jpg);

}

:root {
    --color1: #f4f443;
    --color2: #dfa425;
}

header {
    padding: 1px 0;
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 4 auto;
    padding: 5px 20px;
    color: var(--bs-dark);
    background-color: var(--color1);
}

.btn-itd:hover {
    color: var(--bs-dark);
    background-color: var(--color1);
}

.btn-itd1 {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 5px 20px;
    color: var(--bs-dark);
    background-color: var(--color1);
}

.btn-itd1:hover {
    color: var(--bs-dark);
    background-color: var(--color1);
}

.img-thumbnail1 {
    max-width: 100px;
    margin: 3 auto;
    padding: 10px 20px;
}

header {
    padding: 20px 0;
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
}
.video {
    position:absolute;
   top: 20;
    right: 0;
   
}


.itd_triangle {
    margin-right: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}