section{
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
    body{
    background-image: url(../img/Без\ названия.jpg);

    }
:root {
    --color1: #05b1b1;
    --color2:#52339a;
}
    .accordion-item{
        position: relative;
        margin-bottom: 20px;
    }
    .accordion-item__input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .accordion-item__trigger{
        display: block;
        padding: 20px;
        border: 1px solid black;
    }
    .accordion-item__content{
        padding: 20px;
        border: 1px solid black;
        border-top: none;
        display: none;
    }
    .accordion-item__input:checked ~.accordion-item__trigger{
        background-color:  #eee;
    }
    .accordion-item__input:checked ~.accordion-item__content{
        background-color: #eee;
        display:block;
        
    }
    header{
        padding: 10px 0;
    }
    .btn-itd {
        display: block;
        max-width: 200px;
        margin: 4 auto;
        padding: 5px 20px;
        color: var(--bs-white);
        background-color: var(--color2);
    }
    .btn-itd:hover{
        color:var(--bs-white);
        background-color: var(--color1);
    }
    .btn-itd1 {
        display: block;
        max-width: 200px;
        margin: 0 auto;
        padding: 5px 20px;
        color: var(--bs-white);
        background-color: var(--color1);
    }
    .btn-itd1:hover{
        color:var(--bs-white);
        background-color: var(--color1);
    }